* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: auto;
    color: #ffffff;
    background-color: #34302A;
}

#logo{
    height: 70px;
    width: 130px;
    margin-left: 16px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 620px; 
    overflow: hidden;
}

.video-container img {
    width: 100%; 
    max-height: 620px;
    object-fit: cover; 
}

.background-video {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
}

.text-overlay h1 {
    font-size: 48px;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-overlay p {
    font-size: 20px;
    max-width: 600px;
}
.banner h1 {
    font-size: 48px;
    color: #fff;
    font-family: serif;
}

.container {
    display: flex;
    position: relative;
    z-index: 1;  
}

.sidebar {
    width: 250px;
    background-color: #1f1f1f;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: left 0.3s ease;
    z-index: 1001;
}

.sidebar.active {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin-top: 60px;
}

.sidebar ul li {
    margin-bottom: 20px;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #c0b095;
    cursor: pointer;
}

p{
    font-size: xx-large;
}

.menu-toggle {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1002;
}

.content {
    padding: 20px;
    margin-left: 180px;
    margin-top: 100px;
    z-index: 1;
    transition: margin-left 0.3s ease;
}

.sidebar.active ~ .content {
    margin-left: 270px; 
}

.topic {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    border-bottom: 1px solid #444;
    
}

.text-content {
    flex: 1;
    text-align: left;
}

.text-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 16px;
    line-height: 1.5;
}

.topic img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-top: 70px;
}

h1 {
    text-align: center;
}

#meso {
    font-weight: bold;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .sidebar {
        left: -250px; 
    }

    .sidebar.active {
        left: 0; 
    }

    .content {
        margin-left: 0; 
    }

    .sidebar.active ~ .content {
        margin-left: 250px; 
    }

    .menu-toggle {
        left: 15px;
    }

    .topic {
        flex-direction: column;
        text-align: center;
    }

    .topic img {
        width: 100%;
        margin-top: 20px;
    }

    .text-overlay h1 {
        font-size: 36px; /* Reduz a fonte para 768px */
    }

    .video-container img {
        height: 100%; /* Garante que a imagem ocupe toda a altura */
    }
}

@media (max-width: 480px) {
    .sidebar ul li a {
        font-size: 16px;
    }

    .menu-toggle {
        font-size: 24px;
        top: 10px;
        left: 10px;
    }

    .content {
        padding: 15px;
        margin-top: 80px;
    }

    .text-overlay h1 {
        font-size: 24px; /* Reduz ainda mais o título para telas menores */
    }

    .video-container img {
        width: 100%; /* Garante que a imagem ocupe a largura total */
        height: 100%; /* Garante que a imagem ocupe a altura total */
        object-fit: cover; /* Ajusta para cobrir toda a área da seção */
    }
}
