* {  
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
} 

body { 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    color: #f3f3f3; 
    background-color: #1e1e1e; 
    overflow-y: scroll; 
    padding: 20px; 
} 

.video-container { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh; 
    z-index: -1; 
    overflow: hidden; 
} 

video { 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
} 

.sidebar-container { 
    display: flex; 
    position: relative; 
    z-index: 1; 
} 

.sidebar-custom { 
    width: 250px; 
    background-color: #292929; 
    padding: 20px; 
    position: fixed; 
    top: 0; 
    left: -250px; 
    height: 100vh; 
    z-index: 100; 
    transition: left 0.3s ease; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
} 

.sidebar-custom.active { 
    left: 0; 
} 

.sidebar-custom ul { 
    list-style: none; 
    padding: 0; 
    width: 100%; 
    margin-top: 60px; 
} 

.sidebar-custom ul li { 
    margin-bottom: 20px; 
} 

.sidebar-custom ul li a { 
    color: #f3f3f3; 
    text-decoration: none; 
    font-size: 18px; 
    padding: 10px 0; 
    display: block; 
    transition: color 0.3s; 
} 

.sidebar-custom ul li a:hover { 
    color: #d1a054; 
    cursor: pointer; 
} 

.sidebar-custom img { 
    height: 70px; 
    width: 130px; 
    margin-top: 10px; 
    margin-left: 30px; 
} 

.colaboradores { 
    margin-top: auto; 
} 

.menu-toggle-custom { 
    color: #fff; 
    font-size: 30px; 
    cursor: pointer; 
    position: fixed; 
    top: 20px; 
    left: 20px; 
    z-index: 1002; 
} 

.moderna-section-custom { 
    padding: 20px; 
    margin-left: 250px; 
    max-width: 800px; 
    margin: 20px auto; 
} 

.period-background { 
    margin: 10px 0; 
    padding: 20px; 
    background-color: rgba(41, 41, 41, 0.8); 
    border-radius: 10px; 
} 

.period img { 
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
    max-width: 100%; 
} 

.period img.moderno { 
    max-height: 300px; 
} 

.period-title { 
    font-size: 24px; 
    margin-top: 10px; 
} 

.period-description { 
    margin: 10px 0; 
} 

.curiosidades-section { 
    background-color: rgba(41, 41, 41, 0.85); 
    padding: 20px; 
    border-radius: 10px; 
    margin-top: 20px; 
} 

.period-image.moderno {
    height: 360px;      
    border-radius: 10px; 
}

.moderna-title { 
    margin-bottom: 20px;
}


@media (max-width: 768px) { 
    .sidebar-custom { 
        display: none; 
    } 

    .menu-toggle-custom { 
        display: block; 
    } 

    .moderna-section-custom { 
        margin-left: 0; 
    } 
}
